





.container{
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.header_left{
    grid-column: 1;
    margin-left: 8vw;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto ;

}

.header_left h1{
    font-size: 5vw;
    color: #ff702a;
    
}

.header_left h3{
    color: #ff702a;
    font-size: 1.5vw;
}

.header_left p{
    font-size: 2vw;
    color: #ffffff;
    position: relative;
    bottom: 3vw;
    
}

.buttonne{
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    background-color: #ff702a;
    position: relative;
    bottom: 3vw;
    font-size: 1vw;
    color: #ffffff;
}


.header_right{
    grid-column: 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 3vw;
}




.header_right img{
    width: 20vw;
    grid-column: 1;
    margin-top: 3vw;
    grid-row: 2;
}



.buttontwo{
    background-color: #ff702a;
    width: 6vw;
    color: #ffffff;
    background-color: #000;
    border-color: #000;
    grid-row: 1;
    position: relative;
    bottom: 1vw;
    
}


.containertwo {
    display: grid;
    grid-template-columns: auto auto;
     border: 2px solid  #ff702a;
     background-color: #000;
    
}

.imagenleft{
    grid-column: 1;
    margin-left: 8vw;
    margin-top: 2vw;
    position: relative;
    left: 3vw; 
}

.textoright{
    grid-column: 2;
    margin-top: 4vw;
    position: relative;
    right: 13vw;
}
.textoright h2{
    color: #ffffff;

}
.textoright h1{
    color: #ffffff;
    font-size: 3vw;
    position: relative;
    bottom: 1vw;

}
.textoright p{
    color: #ffffff;
    font-size: 1vw;
    position: relative;
    bottom: 2.5vw;

}


.buttonthree{
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    background-color: #ff702a;
    position: relative;
    bottom: 3vw;
    font-size: 1vw;
    color: #ffffff;
}

.containerthree{
    display: grid;
    background-color: #000;
    grid-template-rows: auto auto;
}

.textoup{
    grid-row: 1;    
    align-content: center;
}
.textoup h5{
    grid-row: 1;
    color:#ff702a;
    position: relative;
    font-size: 1vw;
    left: 45vw;
    top: 2vw;
}
.textoup h1{
    grid-row: 1;
    color: #ffffff;
    position: relative;
    font-size: 3vw;
    left: 32vw;
}


.imagendown{
    grid-row: 2;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    margin-top: 3vw;
}

.containerfour{
    display: grid;
    background-color: #000;
    grid-template-rows: auto auto auto;
    border: 2px solid #ff702a;
}



.textoupp h5{
    grid-row: 1;
    color:#ff702a;
    position: relative;
    font-size: 1vw;
    left: 45vw;
    top: 2vw;
}
.textoupp h1{
    grid-row: 2;
    color: #ffffff;
    font-size: 3vw;
    
    text-align: center;
}


.imagendownn{
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    gap: 2vw;
    justify-content: center;
    margin-top: 3vw;
    
}

.imagen1 img{
    grid-row: 1;
    width: 20vw;
}

.imagen1 h3{
    grid-row: 2;
    color: #ff702a;
    text-align: center;
}
.imagen1 p{
    grid-row: 3;
    color: #ffffff;
   text-align: center;     
}
.imagen2 img{
    grid-row: 1;
    width: 20vw;
}

.imagen2 h3{
    grid-row: 2;
    color: #ff702a;
    text-align: center;
}
.imagen2 p{
    grid-row: 3;
    color: #ffffff;
    text-align: center;
}
.imagen3 img{
    grid-row: 1;
    width: 20vw;
}

.imagen3 h3{
    grid-row: 2;
    color: #ff702a;
    position: relative;
    left: 8vw;
}
.imagen3 p{
    grid-row: 3;
    color: #ffffff;
   text-align: center   ;
}


.containerfive{
    background-color: #000;
    display: grid;
}

.containerpeque{
    width: 90vw;
    height: 20vw;
    background-color: #ffefe8;
    margin-left: 5vw;
    margin-right: 25vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.containerpeque{
    width: 90vw;
    height: 20vw;
    background-color: #ffefe8;
    margin-left: 5vw;
    margin-right: 25vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.containerpeque h1{
    margin-left: 30vw;
    font-size: 3vw;
    align-self: center;
 }
 .containerpeque h2{
    margin-left: 37vw;
    position: relative;
    bottom: 2vw;
    font-size: 3vw;
 }



.buttonfive{
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    background-color: #ff702a;
    position: relative;
    bottom: 2.5vw;
    font-size: 1vw;
    color: #ffffff;
    margin-left: 38vw;
}




