





.container{
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.header_left{
    grid-column: 1;
    margin-left: 8vw;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto ;

}

.header_left h1{
    font-size: 5vw;
    color: #ff702a;
    
}

.header_left h3{
    color: #ff702a;
    font-size: 1.5vw;
}

.header_left p{
    font-size: 2vw;
    color: #ffffff;
    position: relative;
    bottom: 3vw;
    
}

.buttonne{
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    background-color: #ff702a;
    position: relative;
    bottom: 3vw;
    font-size: 1vw;
    color: #ffffff;
}


.header_right{
    grid-column: 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 3vw;
}




.header_right img{
    width: 20vw;
    grid-column: 1;
    margin-top: 3vw;
    grid-row: 2;
}



.buttontwo{
    background-color: #ff702a;
    width: 6vw;
    color: #ffffff;
    background-color: #000;
    border-color: #000;
    grid-row: 1;
    position: relative;
    bottom: 1vw;
    
}


.containertwo {
    display: grid;
    grid-template-columns: auto auto;
     border: 2px solid  #ff702a;
     background-color: #000;
    
}

.imagenleft{
    grid-column: 1;
    margin-left: 8vw;
    margin-top: 2vw;
    position: relative;
    left: 3vw; 
}

.textoright{
    grid-column: 2;
    margin-top: 4vw;
    position: relative;
    right: 13vw;
}
.textoright h2{
    color: #ffffff;

}
.textoright h1{
    color: #ffffff;
    font-size: 3vw;
    position: relative;
    bottom: 1vw;

}
.textoright p{
    color: #ffffff;
    font-size: 1vw;
    position: relative;
    bottom: 2.5vw;

}


.buttonthree{
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    background-color: #ff702a;
    position: relative;
    bottom: 3vw;
    font-size: 1vw;
    color: #ffffff;
}
